/* Style for the h1 header */
h1 {
  font-size: 2.5em; /* Adjust this value to match the size of the # in Markdown */
  text-align: left;
  margin-bottom: 20px;
  font-weight:500;
}

.projects-item h1 {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.project-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-item a {
  text-decoration: none;
  color: inherit;
}

.project-item h2 {
  margin-top: 0;
  font-size: 1.4em;
  margin-bottom: 0;
  font-weight: 600;
}

.project-item p {
  margin-bottom: 0;
  font-size: 1em;
}

.project-item dt {
    color: grey;
    margin-bottom: 5px;
    font-size: .9em;

}

.project-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tags {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping to the next line if necessary */
  justify-content: center; /* Distribute space between items */
}

.tag-image {
  max-height: 50px; /* Adjust the height as needed */
  width: auto; /* Maintain aspect ratio */
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  vertical-align: middle;
}

.wrapper{
    margin: 0 auto;
    max-width: 1000px;
    padding: 10px;
    font-size: 1.1em;
}
section {
    margin-top: 20px;
    font-size: 1.1em;
}

.social-media-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: left; /* Aligns the icons to the right */
}

.social-media-list li {
  margin-left: 15px; /* Adjust spacing between icons */
  margin-top: 5px;
}

.social-media-list li:first-child {
  margin-top: 9px;
  margin-left: 50px;
}

.social-media-list svg {
  width: 25px; /* Adjust the width as needed */
  height: 25px; /* Adjust the height as needed */
}